DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=mc_report_system
DB_USER=mc_report_app
DB_PASSWORD=change_me

AUTHME_DB_HOST=127.0.0.1
AUTHME_DB_PORT=3306
AUTHME_DB_NAME=mc_report_system
AUTHME_DB_USER=mc_report_app
AUTHME_DB_PASSWORD=change_me

AUTH_SECRET=change_me_to_a_long_random_string
AUTH_COOKIE_SECURE=false

USER_TABLE=users
USER_ID_COLUMN=id
USER_USERNAME_COLUMN=username
USER_PASSWORD_HASH_COLUMN=password_hash
USER_ROLE_COLUMN=role
USER_DISPLAY_NAME_COLUMN=display_name

AUTHME_TABLE=authme
AUTHME_ID_COLUMN=id
AUTHME_USERNAME_COLUMN=username
AUTHME_REALNAME_COLUMN=realname
AUTHME_PASSWORD_COLUMN=password
AUTHME_SALT_COLUMN=salt
AUTHME_EMAIL_COLUMN=email
AUTHME_REGDATE_COLUMN=regdate
